<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>

  <form action="/edit/book" method="POST">
      <input id="title" name="title" type="text" placeholder="Enter Book Title..." value="{{book.title}}" required>
      <input id="author" name="author" type="text" placeholder="Enter Author Name..." value="{{book.author}}" required>
      <input id="copies" name="copies" type="number" value="{{book.total_copies}}" required>

      <button type="submit">Submit</button>

  </form>
  {% if error %}
    <p style="color:red;">Failed to Update Book Record! Retry again after sometime.</p>
  {% endif %}
</body>
</html>